<style>
  .error-msg {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 16px;
    text-align: center;
    <% if (dropToEs5) { %>
    max-width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
    <% } %>
  }
</style>
<div class="error-msg">
  This error has been logged. Please follow your organisation's procedures to report this issue if you need further
  assistance.
</div>
