[*]
charset = utf-8
insert_final_newline = true
end_of_line = lf
indent_style = space
indent_size = 2
tab_width = 2
max_line_length = 140
trim_trailing_whitespace = true

[{*.ats,*.cts,*.mts,*.ts,*.tsx}]
# ij_ is the prefix for IntelliJ IDEA (Jetbrains based IDEs)
ij_typescript_import_merge_members = true
ij_typescript_import_sort_members = true
ij_typescript_import_sort_module_name = true
ij_typescript_import_use_node_resolution = true

