NODE_ENV=localdev
COOKIE_SECRET=notsecretforlocaldev

DATABASE_USERNAME=api_user
DATABASE_PASSWORD=7o}R~=XA1jmz!-aHQ^pA
DATABASE_HOST=localhost

# Home tenant platform config (verifiedorchestration.com)
HOME_TENANT_NAME=verifiedorchestration.com
HOME_TENANT_ID=a4577872-4a36-4a93-9846-b29a1220ca89
HOME_TENANT_GRAPH_CLIENT_ID=3f0968a8-aaf0-407a-b7e9-826d82f0f6a9
HOME_TENANT_GRAPH_CLIENT_SECRET={1Password: "Verified Orchestration API (localdev) client secret"}

# Optional home tenant VID service config
# HOME_TENANT_VID_SERVICE_CLIENT_ID=
# HOME_TENANT_VID_SERVICE_CLIENT_SECRET=

# Authority ID (home tenant or hosted authority)
VID_AUTHORITY_ID=6f62f88c-0769-c135-e06a-fa6dc04fb54a

# Hosting platform config (non prod)
PLATFORM_TENANT_ID=5c14bb50-7602-4c0d-b785-5dee865e4665
API_CLIENT_URI=api://verified-orchestration-non-prod
API_CLIENT_ID=c015d766-3423-4d30-8fbc-014191d27825
API_CLIENT_SECRET={1Password: "NonProd - Verified Orchestration -> API client secret"}
INTERNAL_CLIENT_URI=api://verified-orchestration-internal-non-prod
VID_CALLBACK_CLIENT_ID=2e2b9262-ec52-45da-95bb-4db42286ab52
VID_CALLBACK_CLIENT_SECRET={1Password: "NonProd - Verified Orchestration -> VID callback client secret"}
LIMITED_ACCESS_CLIENT_ID=5869060c-373e-4eef-97de-967cfb2d6a92
LIMITED_ACCESS_CLIENT_SECRET={1Password: "NonProd - Verified Orchestration -> Limited access client secret"}

# Client and issuer labelling config
PLATFORM_CONSUMER_APPS="{
    '5d988fea-e182-4527-bd3a-a4f743121b33': 'Onboarding Demo API (localdev)',
    'dc8366b4-ba83-48e5-8ab2-9a852a4500c6': 'Onboarding Demo API',
    '682447f2-12b8-4ec1-a78e-fef3bf5e42f5': 'Limited Access Client',
    'a774bb59-1fb3-47c7-bbe3-d666fe3f6ca8': 'Barhead Demo',
    '730966fe-a5f8-4227-b30b-63626a28188f': 'NDIS Demo',
    '8db8c852-e896-496d-9b3b-fd6911836f4e': 'Arpansa Demo',
  }
"
IDENTITY_ISSUERS="{
    '10b631d3-9e47-49e1-a938-cbd933f0488d': 'voonboardingdemo.onmicrosoft.com',
  }
"
