NODE_ENV=localdev
COOKIE_SECRET=notsecretforlocaldev

DATABASE_USERNAME=api_user
DATABASE_PASSWORD=7o}R~=XA1jmz!-aHQ^pA
DATABASE_HOST=localhost

# demo.staging.did.platform.verifiedorchestration.com
VERIFIED_ID_AUTHORITY_ID=c6507e31-de7f-0e6c-5e3b-27656a3f44d8

HOME_TENANT_CLIENT_SECRET={1Password: "Verified Orchestration API (localdev) client secret"}
VID_CLIENT_SECRET={1Password: "NonProd - Verified Orchestration -> API client secret"}
UI_CLIENT_SECRET={1Password: "NonProd - Verified Orchestration -> API PKCE client secret"}

VID_CALLBACK_CLIENT_SECRET={1Password: "NonProd - Verified Orchestration -> VID callback client secret"}

LIMITED_ACCESS_CLIENT_SECRET={1Password: "NonProd - Verified Orchestration -> Limited access client secret"}
