NODE_ENV=localdev
COOKIE_SECRET=notsecretforlocaldev

DATABASE_USERNAME=api_user
DATABASE_PASSWORD=7o}R~=XA1jmz!-aHQ^pA
DATABASE_HOST=localhost

API_CLIENT_SECRET={1Password: "Verified Orchestration API (localdev) client secret"}
UI_CLIENT_SECRET={1Password: "Verified Orchestration API UI (localdev) client secret"}
