node_modules
.env
build
.nyc_output
coverage
test-results.xml
temp

# IDE - IntelliJ based
# Default (ignore everything)
.idea/*
# Prettier - run on save
!.idea/prettier.xml
# Lint - fix on save
!.idea/jsLinters/
!.idea/jsLinters/eslint.xml

# Mac directory/files
.DS_Store

# Windows directory/files
Thumbs.db

# Claude related files
.claude/*
claude.md
