# don't ever format node_modules
node_modules
*.yml
# don't lint format output (make sure it's set to your correct build folder name)
dist
build
# don't format nyc coverage output
coverage
# don't format generated types
**/generated
# don't format ide files
.idea
temp
