GRAPHQL_ENDPOINT=http://localhost:4000
ADMIN_URL=http://localhost:5173
PORTAL_URL=http://localhost:5173
INSTANCE=local
API_CLIENT_ID=f24dc8de-66da-4b8b-928b-be4c6657d1cc
DEV_TOOLS_ENABLED=true
DEMO_ENABLED=true
ENABLE_SEARCH=false
